* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 95vw;
    background-color: orchid;
    margin: 0 auto;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 15vw 70vw 15vw;
   grid-template-areas: 
   "m h h"
   "m c c"
   "m f f";
   grid-gap: 5px 10px;

}
header, nav, article, footer {
    font-size: 2rem;
    padding: 20px;
    border: 5px solid oldlace;
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    background-color: aqua;
 grid-area: h;

}

nav {
    background-color: darkorchid;
   grid-area: m;

}

article {
    background-color: darkblue;
grid-area: c;

}

footer {
    background-color: gray;
    grid-column: span 3;
    grid-column-start: 1;
    grid-column-end: 13;
}

